<!-- <div>
  <h1>{{pageHeader}}</h1>
  <img src='https://www.pragimtech.com/{{imgUrl}}'/>
  <my-employee></my-employee>
  <button [disabled]='isDisabled' (onclick)='getCount'> Click Me </button> 
</div> -->
<div>
<my-employee-list></my-employee-list>
</div>


<!-- <div>
  <employee-count [all] ="getTotalEmployeesCount()"
                  [male]="getTotalMaleEmployeesCount()" 
                  [female]="getTotalFemaleEmployeesCount()"
                  (onRadioButtonSelectionChange)="onEmployeeCountRadioButtonChange($event)">
  </employee-count >
  <my-employee-list></my-employee-list>
  </div> -->
  